* {
  margin: 0px;
  padding: 0px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.addList {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.addList h1 {
  text-align: center;
  color: rgb(185, 109, 255);
}

.one {
  align-items: center;
  justify-content: end;
  padding: 10px;
  display: flex;
}

.two {
  margin-left: 160px;
  padding: 10px;
  height: auto;
  width: auto;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  font-size: 30px;
  background: rgb(107, 171, 255);
  display: none;
  user-select: none;
}

.two label {
  height: 40px;
  width: 200px;
  line-height: 40px;
  display: block;
}

.two input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 10px;
  background-color: rgb(195, 0, 255);
  /* transition: background-color 0.3s ease; */
}

.two input[type="radio"]:checked {
  background-color: rgb(44, 255, 132);
}

.count {
  margin-right: auto;
  font-size: 30px;
}

.sort {
  height: 50px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
  background: rgb(45, 200, 211);
}

.search {
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  font-size: 20px;
  background: rgb(183, 0, 255);
}

.searchT {
  height: 46px;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  margin-left: 10px;
  padding: 2px;
  background: rgb(31, 255, 143);
  font-size: 30px;
  color: rgb(94, 0, 218);
}

.text {
  width: 400px;
  height: 40px;
  font-size: 40px;
  background: rgb(161, 244, 144);
  color: rgb(99, 134, 201);
  border: 1px solid rgb(17, 0, 255);
  border-radius: 10px;
  padding: 5px;
}

.agree {
  width: 250px;
  height: 35px;
  margin: 10px;
  background: rgb(124, 239, 255);
  font-size: 25px;
  border: 1px solid black;
  border-radius: 10px;
}

.List li {
  display: flex;
  justify-content: end;
  width: 550px;
  height: auto;
  border: 2px solid black;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 20px;
  list-style: none;
  padding: 10px;
}

.itemfalse {
  background: rgb(255, 79, 79);
}

.itemtrue {
  background: rgb(55, 255, 55);
}

.List span {
  display: flex;
}

.valueList {
  max-width: 410px;
  margin-right: auto;
  font-size: 25px;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
}

.valueListC {
  max-width: 410px;
  margin-right: auto;
  font-size: 25px;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  text-decoration-line: line-through;
}

.buttonList span {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  user-select: none;
  border: 1px solid black;
}

.buttonList span:hover {
  box-shadow: 2px 2px 2px;
}

.editList {
  background: yellow;
}

.succesList {
  background: green;
}

.deleteList {
  background: red;
}

.list::-webkit-scrollbar {
  display: none;
}

.list {
  -ms-overflow-style: none;
}

.list {
  scrollbar-width: none;
  scroll-behavior: smooth;
  height: 500px;
  width: 574px;
  overflow-y: auto;
  border-top: 1px solid black;
  border-radius: 12px;
  padding: 10px;
}

.List {
  background: rgb(100, 255, 120);
  border: 1px solid black;
  border-radius: 12px;
  position: relative;
}

.List li {
  box-shadow: 3px 3px 0px;
}

.edit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnEdit {
  width: 250px;
  height: 35px;
  margin: 10px;
  background: rgb(255, 255, 149);
  font-size: 25px;
  border: 1px solid black;
  border-radius: 10px;
}

.btnEditClose {
  height: 35px;
  width: 35px;
  background: red;
  font-size: 25px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px;
  margin: 10px;
}

.warning {
  font-size: 30px;
  color: brown;
  text-align: center;
}

.right {
  display: flex;
  flex-direction: column;
}

.date {
  font-size: 20px;
  max-width: 140px;
  user-select: none;
}

